@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");
a {
  text-decoration: none;
  color: #14A4AC;
  font-size: 20px;
  font-weight: 700;
}

#body {
  font-family: 'Noto Sans JP', sans-serif;
  background-color: #142C44;
  color: #F9F2E4;
}

#header {
  margin: 25px 0 35px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header #header_frame {
  padding: 10px 30px 10px 30px;
  border-radius: 10px;
  background: #142C44;
  -webkit-box-shadow: 6px 6px 12px #08121b, -6px -6px 12px #20466d;
          box-shadow: 6px 6px 12px #08121b, -6px -6px 12px #20466d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 480px) {
  #header #header_frame {
    padding: 10px 20px 10px 20px;
  }
}

#header #header_frame #header_title {
  width: 400px;
  -webkit-filter: drop-shadow(0px 0px 6px rgba(0, 255, 0, 0.6));
          filter: drop-shadow(0px 0px 6px rgba(0, 255, 0, 0.6));
}

@media screen and (max-width: 480px) {
  #header #header_frame #header_title {
    width: 300px;
  }
}

#main {
  margin: 35px 0 35px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main #main_frame {
  width: 90%;
  max-width: 400px;
  border-radius: 10px;
  background: #142C44;
  -webkit-box-shadow: 10px 10px 15px #08121b, -10px -10px 15px #20466d;
          box-shadow: 10px 10px 15px #08121b, -10px -10px 15px #20466d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#main #main_frame #examin_info_frame {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#main #main_frame #examin_info_frame .examin_info {
  font-size: 20px;
  font-weight: 700;
}

#main #main_frame #answer_frame {
  margin: 10px 0 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#main #main_frame #answer_frame .ans_peace_frame {
  margin: 10px 0 10px 0;
  padding: 10px;
  border-radius: 10px;
  background: #142C44;
  -webkit-box-shadow: inset 5px 5px 10px #08121b, inset -5px -5px 10px #20466d;
          box-shadow: inset 5px 5px 10px #08121b, inset -5px -5px 10px #20466d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#main #main_frame #answer_frame .ans_peace_frame .radio_frame {
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#main #main_frame #answer_frame .ans_peace_frame .radio_frame label {
  cursor: pointer;
  margin: 4px;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#main #main_frame #answer_frame .ans_peace_frame .radio_frame label input {
  cursor: pointer;
}

#main #main_frame #answer_frame #submit_btn {
  cursor: pointer;
  margin: 10px;
  padding: 10px 30px 10px 30px;
  border: none;
  border-radius: 20px;
  background: linear-gradient(145deg, #152f49, #12283d);
  -webkit-box-shadow: 5px 5px 10px #08121b, -5px -5px 10px #20466d;
          box-shadow: 5px 5px 10px #08121b, -5px -5px 10px #20466d;
  color: #F9F2E4;
  font-size: 93%;
  font-weight: 600;
}

#main #main_frame #answer_frame #submit_btn:hover {
  background: #142C44;
  -webkit-box-shadow: inset 5px 5px 10px #08121b, inset -5px -5px 10px #20466d;
          box-shadow: inset 5px 5px 10px #08121b, inset -5px -5px 10px #20466d;
}

#main #main_frame #answer_frame #submit_btn:focus {
  outline: 0;
}

#main #main_frame #socre_frame {
  margin-bottom: 20px;
  padding: 5px 10px 5px 10px;
  border-radius: 10px;
  background: linear-gradient(145deg, #12283d, #152f49);
  -webkit-box-shadow: 5px 5px 10px #08121b, -5px -5px 10px #20466d;
          box-shadow: 5px 5px 10px #08121b, -5px -5px 10px #20466d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#main #main_frame #socre_frame #score {
  font-size: 70px;
  font-weight: 700;
}

#main #main_frame #socre_frame #score_unit {
  font-weight: 700;
  font-size: 40px;
}

#main #main_frame #btn_frame {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#main #main_frame #btn_frame .br_btn {
  cursor: pointer;
  margin: 10px 20px 20px 20px;
  padding: 10px 30px 10px 30px;
  border: none;
  border-radius: 20px;
  background: linear-gradient(145deg, #152f49, #12283d);
  -webkit-box-shadow: 5px 5px 10px #08121b, -5px -5px 10px #20466d;
          box-shadow: 5px 5px 10px #08121b, -5px -5px 10px #20466d;
  font-size: 97%;
  font-weight: 700;
}

#main #main_frame #btn_frame .br_btn:hover {
  background: #142C44;
  -webkit-box-shadow: inset 5px 5px 10px #08121b, inset -5px -5px 10px #20466d;
          box-shadow: inset 5px 5px 10px #08121b, inset -5px -5px 10px #20466d;
}

#main #main_frame #btn_frame .br_btn:focus {
  outline: 0;
}

#footer {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#footer #footer_frame {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
/*# sourceMappingURL=scoring.css.map */