@charset "UTF-8";
/* スクロール禁止（PC用） */
html, body {
  overflow: hidden;
}

#body {
  height: 100vh;
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  color: #ffffff;
}

#header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header #header_frame {
  padding: 10px 30px 10px 30px;
  margin: 10px 0 10px 0;
  background: rgba(255, 255, 255, 0.25);
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: solid 1px rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main {
  width: 100vw;
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main #main_frame {
  width: 80%;
  height: 90%;
  padding: 10px 30px 10px 30px;
  margin: 10px 0 10px 0;
  background: rgba(255, 255, 255, 0.25);
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: solid 1px rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main #main_frame #scroll_frame {
  overflow: scroll;
  width: 70%;
  height: 90%;
  padding: 10px 30px 10px 30px;
  margin: 10px 0 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#main #main_frame #scroll_frame #btn_frame {
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#main #main_frame #scroll_frame #redo_btn {
  cursor: pointer;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  width: auto;
  height: auto;
  padding: 10px 40px 10px 40px;
  margin: 10px 10px 10px 10px;
  border: none;
  background: -webkit-gradient(linear, left top, left bottom, from(#7dd4d7), to(#3565bf));
  background: linear-gradient(#7dd4d7, #3565bf);
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main #main_frame #scroll_frame #redo_btn:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#3565bf), to(#7dd4d7));
  background: linear-gradient(#3565bf, #7dd4d7);
}

#main #main_frame #scroll_frame #redo_btn:focus {
  outline: 0;
}

.year_btn {
  cursor: pointer;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  width: auto;
  height: auto;
  padding: 10px 40px 10px 40px;
  margin: 10px 30px 10px 30px;
  border: none;
  background: -webkit-gradient(linear, left top, left bottom, from(#91d77d), to(#35bfa0));
  background: linear-gradient(#91d77d, #35bfa0);
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.year_btn:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#35bfa0), to(#91d77d));
  background: linear-gradient(#35bfa0, #91d77d);
}

.year_btn:focus {
  outline: 0;
}

#footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#footer #footer_frame {
  padding: 10px 30px 10px 30px;
  margin: 10px 0 10px 0;
  background: rgba(255, 255, 255, 0.25);
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: solid 1px rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#footer #redo_btn {
  cursor: pointer;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  width: auto;
  height: auto;
  padding: 5px 40px 5px 40px;
  margin: 5px 5px 5px 5px;
  border: none;
  background: -webkit-gradient(linear, left top, left bottom, from(#7dd4d7), to(#3565bf));
  background: linear-gradient(#7dd4d7, #3565bf);
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#footer #redo_btn:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#3565bf), to(#7dd4d7));
  background: linear-gradient(#3565bf, #7dd4d7);
}

#footer #redo_btn:focus {
  outline: 0;
}

.anker {
  color: #ffffff;
  font-weight: 700;
}
/*# sourceMappingURL=attention.css.map */